<h1>Messages</h1>

<% @messages.each do |msg| %>
<div class="flex text-white">
<b><%= msg.user.username %></b>
<p class="ml-1"><%= msg.body %></p>
</div>
<% end %>

<div class="message-form">
    <%= form_with( model: @message, data:{turbo: false}, local: true, class:"form_con flex flex-col") do |form| %>
    <%=form.text_field :body %>
    <%= form.submit "send",class:"text-black bg-white" %>
    <% end %>
</div>