<div class="page_flex flex items-center">
  <div class="navbar h-[100vh]  w-[6rem]
 border-gray-800 border-r-[3px] flex flex-col 
 justify-between items-center pt-3 pb-3">
    <div class="flex flex-col items-center">
      <div class="logo">
        <%= image_tag("logo",class:"w-[5.5rem]")%>
      </div>

      <div class="grid gap-[2rem] mt-4 text-xl">
        <%= link_to root_path do %>
          <i class="fa fa-commenting text-white bg-blue-700 p-2 rounded-md" aria-hidden="true"></i>
          <% end %>

            <%= link_to root_path do %>
              <i class="fa fa-users text-white hover:bg-blue-700 p-2 rounded-md" aria-hidden="true"></i>
              <% end %>

                <%= link_to root_path do %>
                  <i class="fa fa-stop-circle text-white hover:bg-blue-700 p-2 rounded-md" aria-hidden="true"></i>
                  <% end %>

                    <%= link_to root_path do %>
                      <i class="fa fa-phone text-white hover:bg-blue-700 p-2 rounded-md" aria-hidden="true"></i>
                      <% end %>

                        <%= link_to root_path do %>
                          <i class="fa fa-address-book text-white hover:bg-blue-700 p-2 rounded-md"
                            aria-hidden="true"></i>
                          <% end %>

                            <%= link_to root_path do %>
                              <i class="fa fa-cog text-white hover:bg-blue-700 p-2 rounded-md" aria-hidden="true"></i>
                              <% end %>
      </div>
    </div>

    <div class="w-[3rem] h-[3rem] rounded-full border-solid border-2 border-gray-200 overflow-hidden">
      <% if current_user.avatar.attached? %>
        <%= image_tag(current_user.avatar , class:"w-full h-full")%>
          <% else %>
            <%= image_tag('avatar.png' , class:"w-full h-full") %>
              <%end%>
    </div>

  </div>
  <!-- Chats -->

  <div class="chats max-w-[22rem] bg-[#1c1c1c] h-[100vh] py-6 border-gray-800 border-r-[3px] overflow-auto">
    <div class="chat-nav pb-8 border-gray-800 border-b-[3px]">
        <div class="w-full flex justify-between items-center px-6">
          <div class="dropdown flex items-center ">
            <h2 class="text-[1.05rem] font-bold">All Chats</h2>
            <i class="fa fa-angle-down ml-4 text-gray-300 text-[.8rem] mt-1.5 cursor-pointer" aria-hidden="true"></i>
          </div>
          <div class="search_and_ellipsis flex items-center">
            <i class="fa fa-search mr-7 cursor-pointer text-gray-300 " aria-hidden="true"></i>
            <i class="fa fa-ellipsis-v cursor-pointer text-gray-300" aria-hidden="true"></i>
          </div>
        </div>
    </div>
    <div class="online-now py-5 px-6">
      <div class="flex items-center">
        <i class="fa fa-dot-circle text-[.8rem] font-semibold text-white" aria-hidden="true"></i>
        <h3 class="text-[1rem] font-semibold ml-1.5">Online Now</h3>
      </div>
      <div class="overflow-auto pt-3.5 pb-1">
        <div class="w-auto online-users flex justify-between items-center">
          <% @online_users.each do |user| %>
            <div class="min-w-[3rem] min-h-[3rem] rounded-full border-solid border-2 border-gray-200 overflow-hidden mr-5">
              <% if user.avatar.attached? %>
                <%= image_tag(user.avatar , class:"w-[3rem] h-[3rem]")%>
                  <% else %>
                    <%= image_tag('avatar.png' , class:"w-[3rem] h-[3rem]") %>
                      <%end%>
            </div>
            <% end %>
        </div>
      </div>

    </div>

    <!-- pinned chat -->
    <div class="pinned-chat py-5 px-6">
      <div class="flex items-center">
        <i class="fa fa-thumb-tack text-[.8rem] font-semibold text-white" aria-hidden="true"></i>
        <h3 class="text-[1rem] font-semibold ml-1.5">Pinned Chat</h3>
      </div>
      <div class="pinned-chats pt-4">
        <%= turbo_stream_from "users" %>
        <div id="users" class="grid grid-col-1 gap-4">
          <%= render @pinned_users %>
        </div>
        </div>
      </div>
       <!-- pinned chat -->
    <div class="recent-chat py-1 px-6">
      <div class="flex items-center">
        <i class="fa fa-commenting text-[.8rem] font-semibold text-white" aria-hidden="true"></i>
        <h3 class="text-[1rem] font-semibold ml-1.5">Recent Chat</h3>
      </div>
      <div class="pinned-chats pt-4">
        <%= turbo_stream_from "users" %>
        <div id="users" class="grid grid-col-1 gap-4">
          <%= render @users %>
        </div>
        </div>
      </div>

      <!-- Groups -->
      <div class="groups py-2 px-6">
        <div class="flex items-center justify-between">
        <div class="flex items-center">
          <i class="fa fa-users text-[.8rem] font-semibold text-white" aria-hidden="true"></i>
          <h3 class="text-[1rem] font-semibold ml-1.5">Groups</h3>
        </div>
        <div class="flex items-center cursor-pointer" onclick="openModal()">
          <i class="fa fa-plus text-[.8rem] font-semibold text-white" aria-hidden="true"></i>
          <h3 class="text-[1rem] font-semibold ml-1.5 mr-1">Create group</h3>
        </div>
      </div>
        <div class="pinned-chats pt-4">
          <%= turbo_stream_from "groups" %>
          <div id="groups" class="grid grid-col-1 gap-4">
            <%= render @groups %>
          </div>
          </div>
        </div>
    </div>

    <!-- The chatting section -->

    <div class="w-[100%] h-[100vh] max-h[100vh] bg-[#1a1819] px-10 relative">
      <% if @single_group %>
      <div class="w-[100%] flex justify-between pt-3 pb-8">
        <div class="flex ">
       
            <!-- here -->
            <% if @user&.avatar.present? %>
    <div class="w-[3rem] h-[3rem] rounded-full overflow-hidden">
              <% if @user&.avatar.attached? %>
                  <%= image_tag(@user&.avatar , class:"w-full h-full")%>
                      <% else %>
                          <%= image_tag('avatar.png' , class:"w-full h-full") %>
                              <%end%>
          </div>

          <% else %>
          <div class="w-[3rem] h-[3rem] rounded-full overflow-hidden">
            <% if @single_group.coverPhoto.attached? %>
                <%= image_tag(@single_group.coverPhoto , class:"w-full h-full")%>
                    <% else %>
                        <%= image_tag("http://via.placeholder.com/50" , class:"w-full h-full") %>
                            <%end%>
        </div>
          <%  end %>

            <!-- here -->
         
          <div class="flex flex-col ml-3">
              <h4 class="text-gray-50 font-medium text-[1.05rem]">
                  <%= @user&.username || @single_group.name %>
              </h4>
              <p class="text-gray-300 font-normal text-[.9rem] mt-2">
                <% if @user&.created_at.present? %>
                  Joined on <%= @user&.created_at.strftime("%b %d") %>
                  <% else %>
                  Created on <%= @single_group.created_at.strftime("%b %d") %>
                  <% end %>
              </p>
          </div>
      </div>
      <div class="search_and_ellipsis flex items-center">
        <i class="fa fa-search mr-7 cursor-pointer text-gray-300 p-2 bg-[#252728] rounded-[50%]" aria-hidden="true"></i>
        <i class="fa fa-video-camera mr-7 cursor-pointer text-gray-300 p-2 bg-[#252728] rounded-[50%]" aria-hidden="true"></i>
        <i class="fa fa-phone mr-7 cursor-pointer text-gray-300 p-2 bg-[#252728] rounded-[50%]" aria-hidden="true"></i>
        <% unless @single_group.is_private %>
        <i class="fa fa-exclamation-circle mr-7 cursor-pointer text-gray-300 p-2 bg-[#252728] rounded-[50%]" aria-hidden="true"></i>
        <% end %>
        <i class="fa fa-ellipsis-v cursor-pointer text-gray-300 px-3.5 py-2 bg-[#252728] rounded-[50%]" aria-hidden="true"></i>
      </div>
      </div>
      
   

  
       
        <%= turbo_stream_from @single_group %>
          <div id="messages" class="overflow-auto max-h-[75%] px-1 overflow-auto">
            <%= render @messages %>
          </div>
          <div class="w-full absolute bottom-4 left-0 px-6">
          <%= render partial: 'layouts/new_message_form' %>
            <% end %>
          </div>
    </div>

    </div>  


<div id="modal" class="w-[100%] h-[100vh] bg-[#000000d6] fixed top-0 left-0" style="display:none">
 <div class="flex items-center justify-center h-[100%] relative">
  <%= render partial: "layouts/new_group_form" %>
  <button class="absolute top-3 right-3 bg-red-500 hover:bg-red-700 p-2 rounded-md" id="cancel" onclick="closeModal()" id="cancel">Cancel</button>
</div>
</div>


<script>
  const modal = document.getElementById("modal");
  const cancelButton = document.getElementById("cancel");

  function openModal(){
    modal.style.display = "block";
  }
  function closeModal(){
    modal.style.display = "none";
  }
  cancelButton.addEventListener("click", closeModal);
</script>