<!-- group show page -->
<h1 class="text-white"><%= @group.name %></h1>

<h2>Messages</h2>
<% @messages.each do |message| %>
  <p class="text-white"><b><%= message.user.username %>:</b> <%= message.body %></p>
<% end %>

<%= form_with(model: [@group, Message.new], url: group_messages_path(@group)) do |form| %>
  <%= form.text_area :body %>
  <%= form.submit "Send",class:"text-white" %>
<% end %>
